body {
    font-family: "Archivo", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #80808047;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #333;
    margin: 0 0px;
}

.active-tab {
    background-color: #007BFF;
    color: white;
}

.question-container {
    margin-bottom: 20px;
    background-color: white;
}

.question {
    font-weight: bold;
}

.question-image {
    display: block;
    margin: 10px 0;
    max-width: 100%;
    height: auto;
}

.image-placeholder {
    display: none;
    margin: 10px 0;
    width: 100%;
    height: 150px;
    background-color: #f0f0f0;
    color: #ccc;
    text-align: center;
    line-height: 150px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.pagination-container {
    margin: 20px 0;
    text-align: center;
}

.pagination-container button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

label {
    margin-right: 10px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #007BFF;
}

#result {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

#review {
    margin-top: 20px;
}

#review h2 {
    text-align: center;
}

#review .question-container {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

#shuffle-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

#shuffle-button:hover {
    background-color: #218838;
}

#submit-button {
    display: none;
}

#result p {
    font-size: 18px;
    font-weight: bold;
}

#go-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    bottom: 20px; /* Place the button 20px from the bottom */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#go-to-top:hover {
    background-color: #333; /* Darker background on hover */
}

#bookmarked-questions {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

#bookmarked-questions h2 {
    text-align: center;
}

#previous-scores {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

#previous-scores h2 {
    text-align: center;
}
